    <footer>
      <nav>
        <a id="footer" href="#"><img src="/assets/images/close.svg"/></a>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/<%= lang %>/#schedule"><%= t('nav.schedule') %></a></li>
          <li><a href="/<%= lang %>/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="https://shop.spreadshirt.de/think-about-shop/"><%= t('nav.shop') %></a></li>
          <li><a href="/assets/docs/think-about-medienpaket.zip"><%= t('nav.mediapackage') %></a></li>
          <li><a href="/<%= lang %>/about.html"><%= t('nav.legal') %></a></li>
          <li><a href="/<%= lang %>/privacy.html"><%= t('nav.privacy') %></a></li>
        </ul>
        <a button href="/<%= lang %>/tickets.html"><%= t('nav.tickets') %></a>
        <div>
          <a href="/goto/twitter"><img src="/assets/icons/twitter.svg"/></a>
          <a href="/goto/github"><img src="/assets/icons/github.svg"/></a>
          <a href="/goto/meetup"><img src="/assets/icons/meetup.svg"/></a>
          <a href="/goto/xing"><img src="/assets/icons/xing.svg"/></a>
          <a href="<%= t('about-us.contact-link') %>"><img src="/assets/icons/email.svg"/></a>
        </div>
      </nav>
    </footer>

