    <footer>
      <nav>
        <a id="footer" href="#"><img src="/assets/images/close.svg"/></a>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <% if feature? :preview %>
          <li><a href="/blog/">Blog</a></li>
          <% end %>
          <li><a href="/<%= lang %>/consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="/<%= lang %>/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="/<%= lang %>/about.html"><%= t('nav.imprint') %></a></li>
          <li><a href="/<%= lang %>/privacy.html"><%= t('nav.privacy') %></a></li>
        </ul>
        <a button href="/<%= lang %>/tickets.html"><%= t('nav.tickets') %></a>
        <div>
          <a href="/goto/twitter"><img src="/assets/icons/twitter.svg"/></a>
          <a href="/goto/github"><img src="/assets/icons/github.svg"/></a>
          <a href="/goto/meetup"><img src="/assets/icons/meetup.svg"/></a>
          <a href="/goto/xing"><img src="/assets/icons/xing.svg"/></a>
          <a href="<%= t('about-us.contact-link') %>"><img src="/assets/icons/email.svg"/></a>
        </div>
      </nav>
    </footer>

