    <footer>
      <nav>
        <a id="footer" href="#"><img src="/assets/images/close.svg"/></a>
        <a logo href="/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="/tickets.html"><%= t('nav.tickets') %></a></li>
          <li><a href="/about.html"><%= t('nav.legal') %></a></li>
          <li><a href="consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="/privacy.html"><%= t('nav.privacy') %></a></li>
          <li><a href="https://cdn.think-about.io/Think_About_Press_Kit.zip"><%= t('nav.mediapackage') %></a></li>
        </ul>
        <div>
          <a href="/goto/twitter"><img src="/assets/icons/twitter.svg"/></a>
          <a href="/goto/github"><img src="/assets/icons/github.svg"/></a>
          <a href="/goto/meetup"><img src="/assets/icons/meetup.svg"/></a>
          <a href="/goto/xing"><img src="/assets/icons/xing.svg"/></a>
          <a href="<%= t('about-us.contact-link') %>"><img src="/assets/icons/email.svg"/></a>
        </div>
      </nav>
    </footer>

