    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#280050">

    <% if is_blog_post? %>
    <meta property="og:image" content="https://think-about.io<%= meta[:img] %>">
    <meta property="og:title" content="<%= meta[:title] %>">
    <meta property="og:description" content="<%= meta[:abstract] %>">
    <meta property="og:url" content="<%= meta[:url] %>">
    <meta property="og:type"   content="article" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thinkaboutconf">
    <meta name="twitter:title" content="<%= meta[:title] %>">
    <meta name="twitter:description" content="<%= meta[:abstract] %>">
    <meta name="twitter:creator" content="<%= meta[:author_twitter] %>">
    <meta name="twitter:image" content="https://think-about.io<%= meta[:img] %>">
    <meta name="twitter:domain" content="think-about.io">
    <% elsif is_talk_details? %>
    <% speakie = File.basename filename, '.html.erb' %>
    <% image = "https://think-about.io/assets/images/speaker/share/#{speakie}_card.png" %>
    <% title = CGI.escapeHTML(data("speakies/#{speakie}")[:title]) %>
    <% abstract = CGI.escapeHTML(data("speakies/#{speakie}")[:abstract]) %>
    <meta property="og:image" content="<%= image %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= abstract %>">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= "https://think-about.io/#{url}".gsub('//', '/') %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thinkaboutconf">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= abstract %>">
    <meta name="twitter:image" content="<%= image %>">
    <meta name="twitter:domain" content="think-about.io">
    <% else %>
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:title" content="Think About! Conference">
    <meta property="og:description" content="Think About! is a tech conference which focuses not only on technology but also on design and their social impact. It creates a safe and inspirational space for everyone, and we really mean everyone.">
    <meta property="og:url" content="https://think-about.io/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thinkaboutconf">
    <meta name="twitter:title" content="Think About! Conference">
    <meta name="twitter:description" content="Think About! is a tech conference which focuses not only on technology but also on design and their social impact. It creates a safe and inspirational space for everyone, and we really mean everyone.">
    <meta name="twitter:image" content="https://think-about.io/og-image.jpg">
    <meta name="twitter:domain" content="think-about.io">
    <% end %>

    <meta name="msapplication-TileColor" content="#280050">
    <meta name="theme-color" content="#280050">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if feature? :preview %>
    <title>[PREVIEW] Think About! Conference 2019</title>
    <% else %>
    <title>Think About! Conference 2019</title>
    <% end %>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="preload" as="image" href="/assets/images/tech.svg">
    <link rel="preload" as="image" href="/assets/images/design.svg">
    <link rel="preload" as="image" href="/assets/images/society.svg">

    <link rel="preload" as="image" media="(min-width: 700px)" href="/assets/images/keyvisual.svg">
    <link rel="preload" as="image" media="(max-width: 699px)" href="/assets/images/keyvisual-small.svg">

    <% data('schedule').each do |_, events| %>
      <% events.each do |event| %>
        <% event.fetch(:images, []).each do |image| %>
          <link rel="preload" as="image" href="<%= image %>">
        <% end %>
      <% end %>
    <% end %>
