    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#280050">

    <% if is_blog_post? %>
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:height" content="521">
    <meta property="og:image:width" content="995">
    <meta property="og:title" content="<%= meta[:title] %>">
    <meta property="og:description" content="<%= meta[:abstract] %>">
    <meta property="og:url" content="<%= meta[:url] %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thinkaboutconf">
    <meta name="twitter:title" content="<%= meta[:title] %>">
    <meta name="twitter:description" content="<%= meta[:tweet] %>">
    <meta name="twitter:creator" content="<%= meta[:author_twitter] %>">
    <meta name="twitter:image" content="<%= meta[:img] %>">
    <meta name="twitter:domain" content="think-about.io">
    <% else %>
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:height" content="521">
    <meta property="og:image:width" content="995">
    <meta property="og:title" content="Think About! Conference">
    <meta property="og:description" content="We believe that society needs diversity for a healthy and critical dialogue. For that reason we want to bring together diverse individuals and enable them to challenge themselves and each other.">
    <meta property="og:url" content="https://think-about.io/">
    <% end %>

    <meta name="msapplication-TileColor" content="#280050">
    <meta name="theme-color" content="#280050">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
