<% language_switch = locals[:language_switch] != false %>
<% switch_lang = lang == "en" ? "de" : "en" %>

    <nav desktop>
      <div>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="/<%= lang %>/consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="/<%= lang %>/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a button href="tickets.html"><%= t('nav.tickets') %></a></li>
          <% if language_switch %>
            <li><a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <nav mobile <%= !url.empty? && url != 'index.html' ? 'dark' : ''%>>
      <div>
        <% if language_switch %>
          <a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a>
        <% end %>
        <% if !url.empty? && url != 'index.html' %>
          <a href="#footer"><img src="/assets/images/menu-dark.svg"/></a>
        <% else %>
          <a href="#footer"><img src="/assets/images/menu.svg"/></a>
        <% end %>
      </div>
    </nav>

