<section topic="tech">
  <a href="/<%= lang %>/speakies/anika_zeidler.html"><article>
    <h4>Tech Talk</h4>
    <p>"Algorithmic Bias – Diskriminierung durch Algorithmen erkennen und vermeiden"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Anika Zeidler</h1>
        <p>Capgemini</p>
      </div><figure>
        <img src="/assets/images/speaker/anika_zeidler.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/ryn_daniels.html"><article>
    <h4>Tech Talk</h4>
    <p>"CI/CD: More than Just Code"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Ryn Daniels</h1>
        <p>Travis CI</p>
      </div><figure>
        <img src="/assets/images/speaker/ryn_daniels.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/rachel_willmer.html"><article>
    <h4>Tech Talk</h4>
    <p>"DevOps: Why the Startup CEO Should Care (and you should too)"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Rachel Willmer</h1>
        <p>Independent Consultant</p>
      </div><figure>
        <img src="/assets/images/speaker/rachel_willmer.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/tobias_struckmeier.html"><article>
    <h4>Tech Talk</h4>
    <p>"GraphQL: Gotta Query 'Em All! - In one go!"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Tobias Struckmeier</h1>
        <p>Adesso</p>
      </div><figure>
        <img src="/assets/images/speaker/tobias_struckmeier.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/silvan_jongerius.html"><article>
    <h4>Tech Talk</h4>
    <p>"Innovation under the GDPR"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Silvan Jongerius</h1>
        <p>TechGDPR</p>
      </div><figure>
        <img src="/assets/images/speaker/silvan_jongerius.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/sebastian_golasch.html"><article>
    <h4>Tech Talk</h4>
    <p>"Intranet of Things"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Sebastian Golasch</h1>
        <p>Telekom</p>
      </div><figure>
        <img src="/assets/images/speaker/sebastian_golasch.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/christopher_grebs.html"><article>
    <h4>Tech Talk</h4>
    <p>"Maintain your ancient projects without getting lost"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Christopher Grebs</h1>
        <p>Mozilla</p>
      </div><figure>
        <img src="/assets/images/speaker/christopher_grebs.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/emma_arfelt.html"><article>
    <h4>Tech Talk</h4>
    <p>"Privacy in Software: How to design and implement privacy by default"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Emma Arfelt</h1>
        <p>IT University of Copenhagen</p>
      </div><figure>
        <img src="/assets/images/speaker/emma_arfelt.png" />
      </figure></header>
  </article></a>
</section>
<section topic="tech">
  <a href="/<%= lang %>/speakies/katharina_baehr.html"><article>
    <h4>Tech Talk</h4>
    <p>"The Power of Web Components"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Katharina Bähr</h1>
        <p>Zühlke Engineering</p>
      </div><figure>
        <img src="/assets/images/speaker/katharina_baehr.png" />
      </figure></header>
  </article></a>
</section>
<section topic="design">
  <a href="/<%= lang %>/speakies/eileen_wagner.html"><article>
    <h4>Design Talk</h4>
    <p>"Designing for Security"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Eileen Wagner</h1>
        <p>Simply Secure</p>
      </div><figure>
        <img src="/assets/images/speaker/eileen_wagner.png" />
      </figure></header>
  </article></a>
</section>
<section topic="design">
  <a href="/<%= lang %>/speakies/eriol_fox.html"><article>
    <h4>Design Talk</h4>
    <p>"Diverse representations in design and awkward conversations with colleagues"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Eriol Fox</h1>
        <p>Ushahidi</p>
      </div><figure>
        <img src="/assets/images/speaker/eriol_fox.png" />
      </figure></header>
  </article></a>
</section>
<section topic="design">
  <a href="/<%= lang %>/speakies/aly_blenkin.html"><article>
    <h4>Design Talk</h4>
    <p>"Mapping the problem: Understanding the consequences of our design choices"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Aly Blenkin</h1>
        <p>Pivotal Act</p>
      </div><figure>
        <img src="/assets/images/speaker/aly_blenkin.png" />
      </figure></header>
  </article></a>
</section>
<section topic="design">
  <a href="/<%= lang %>/speakies/gerri_buchegger.html"><article>
    <h4>Design Talk</h4>
    <p>"Produkte gegen die eigene Moral - Über kognitive Dissonanz im Produktdesign"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Gerri Buchegger</h1>
        <p>Mühle Design</p>
      </div><figure>
        <img src="/assets/images/speaker/gerri_buchegger.png" />
      </figure></header>
  </article></a>
</section>
<section topic="design">
  <a href="/<%= lang %>/speakies/wilhelm_rinke.html"><article>
    <h4>Design Talk</h4>
    <p>"Zukunftsbilder und menschzentriertes Design"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Wilhelm Rinke</h1>
        <p>Berliner Ideenlabor</p>
      </div><figure>
        <img src="/assets/images/speaker/wilhelm_rinke.png" />
      </figure></header>
  </article></a>
</section>
<section topic="society">
  <a href="/<%= lang %>/speakies/christoph_hassler.html"><article>
    <h4>Society Talk</h4>
    <p>"Automation and the impact on the working class"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Christoph Hassler</h1>
        <p>ThoughtWorks</p>
      </div><figure>
        <img src="/assets/images/speaker/christoph_hassler.png" />
      </figure></header>
  </article></a>
</section>
<section topic="society">
  <a href="/<%= lang %>/speakies/maren_heltsche.html"><article>
    <h4>Society Talk</h4>
    <p>"Hack Society - Wie wir mit Code gesellschaftliche Probleme lösen können"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Maren Heltsche</h1>
        <p>Speakerinnen.org</p>
      </div><figure>
        <img src="/assets/images/speaker/maren_heltsche.png" />
      </figure></header>
  </article></a>
</section>
<section topic="society">
  <a href="/<%= lang %>/speakies/jenz_mau.html"><article>
    <h4>Society Talk</h4>
    <p>"Highway to the Dangerzone - Wieso es notwendig ist die Comfortzone zu verlassen."<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Jenz Mau</h1>
        <p>Maubeschau</p>
      </div><figure>
        <img src="/assets/images/speaker/jenz_mau.png" />
      </figure></header>
  </article></a>
</section>
<section topic="society">
  <a href="/<%= lang %>/speakies/muriel_boettger.html"><article>
    <h4>Society Talk</h4>
    <p>"think.about: Wie beeinflusst das Smartphone unsere Psyche und wie können wir lernen besser damit umzugehen?"<em> (DE)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Muriel Böttger</h1>
        <p>Share & Grow</p>
      </div><figure>
        <img src="/assets/images/speaker/muriel_boettger.png" />
      </figure></header>
  </article></a>
</section>
<section topic="society">
  <a href="/<%= lang %>/speakies/dmytri_kleiner.html"><article>
    <h4>Society Talk</h4>
    <p>"Wiring the Spark"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Dmytri Kleiner</h1>
        <p>Telekommunisten</p>
      </div><figure>
        <img src="/assets/images/speaker/dmytri_kleiner.png" />
      </figure></header>
  </article></a>
</section>
