<% abstract = talk[:abstract].empty? ? "This talk does not have an abstract" : talk[:abstract] %>

<main>
  <section class="speaker-details">
    <div class="container">
      <h1><%= talk[:title] %></h1>
      <ul>
        <% unless talk[:track].casecmp('introoutro') == 0 %>
        <li><em topic="<%= talk[:track].downcase %>"><%= talk[:track] %></em></li>
        <li>Length: 45 Min</li>
        <% end %>
        <li>Language: <%= talk[:lang] %></li>
      </ul>
      <% if talk_recorded? '2019', talk[:person_slug] %>
      <ul>
        <% talk_recordings('2019', talk[:person_slug]).each do |record| %>
        <% if record[:inactive] %>
        <li><span inactive><%= record[:title] %></span></li>
        <% else %>
        <li><a target="_blank" href="<%= record[:url] %>"><%= record[:title] %></a></li>
        <% end %>
        <% end %>
      </u>
      <% end %>
      <article>
        <%= markdown abstract %>
      </article>
    </div>
  </section>
  <section class="speaker-details">
    <div class="container">
      <article class="bio">
        <figure>
          <% talk[:images].each do |image| %>
          <img src="<%= "/images/events/2019/speakers/#{image}_big.png" %>" />
          <% end %>
        </figure>
        <div>
          <h1><%= talk[:person] %></h1>
          <p><%= talk[:full_jobtitle] %></p>
          <p><%= markdown talk[:bio] %></p>
          <p>
            <% talk[:links].each_with_index do |l, i| %>
              <a href="<%= l[:url] %>"><%= l[:title] %></a>
              <%= ' | ' if i < talk[:links].size - 1 %>
            <% end %>
          </p>
        </div>
      </article>
    </div>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

<% content_for :metatags do %>
<% title = html_escape strip_tags markdown talk[:title] %>
<% abstract = html_escape strip_tags markdown abstract %>
<% image_path = "https://think-about.io/images/events/2019/speakers/#{talk[:person_slug]}_card.png" %>

<meta property="og:image" content="<%= image_path %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= abstract %>">
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= "https://think-about.io/#{current_page.url}" %>" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thinkaboutconf">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= abstract %>">
<meta name="twitter:image" content="<%= image_path %>">
<meta name="twitter:domain" content="think-about.io">
<% end %>
