<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <nav>
      <div>
        <% if !url.empty? %>
          <a href="/<%= lang %>/"><%= t('backlink') %></a>
        <% end %>
        <% switch_lang = lang == "en" ? "de" : "en" %>
        <a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a>
      </div>
    </nav>
    <%= main %>
    <footer>
       <a href="/<%= lang %>/about.html"><%= t('imprint') %></a>
       |
       <a href="/<%= lang %>/privacy.html"><%= t('privacy') %></a>
    </footer>
  </body>
</html>

