<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
<!--    <nav>
      <% switch_lang = lang == "en" ? "de" : "en" %>
        <a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a>
    </nav> -->
    <%= main %>
    <footer>
      <section>
         <a href="/<%= lang %>/about.html">Imprint</a>
         <a href="/<%= lang %>/privacy.html">Privacy</a>
      </section>
    </footer>
  </body>
</html>

