<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <% switch_lang = lang == "en" ? "de" : "en" %>
    <nav desktop>
      <div>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="about-us.html"><%= t('nav.about-us') %></a></li>
          <% if feature? :preview %>
          <li><a button href="tickets.html"><%= t('nav.tickets') %></a></li>
          <% end %>
          <li><a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a></li>
        </ul>
      </div>
    </nav>
    <nav mobile <%= !url.empty? && url != 'index.html' ? 'dark' : ''%>>
      <div>
        <a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a>
        <% if !url.empty? && url != 'index.html' %>
          <a href="#footer"><img src="/assets/images/menu-dark.svg"/></a>
        <% else %>
          <a href="#footer"><img src="/assets/images/menu.svg"/></a>
        <% end %>
      </div>
    </nav>
    <%= main %>
    <footer>
      <nav>
        <a id="footer" href="#"><img src="/assets/images/close.svg"/></a>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="about.html"><%= t('nav.imprint') %></a>
          <li><a href="privacy.html"><%= t('nav.privacy') %></a>
        </ul>
        <% if feature? :preview %>
        <a button href="tickets.html"><%= t('nav.tickets') %></a>
        <% end %>
      </nav>
    </footer>
  </body>
</html>

