<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <%= partial 'header' %>
  </head>
  <body>
    <%= partial 'navigation', language_switch: false %>
    <% if is_blog_post? %>
      <main>
      <section class="blogpost">
        <div>
          <h1><%= meta[:title] %></h1>
          <span>Published <%= meta[:date] %> by <a href="#author"><%= meta[:author] %></a>, Reading time <%= meta[:minutes] %> Minutes</span>
          <img src="<%= meta[:img] %>" />
          <%= main %>
          <div class="centered">
            <p>Share this article:</p>
            <p>
            <a href="https://twitter.com/intent/tweet?text=<%= encode(meta[:tweet]) %>&url=<%= encode(meta[:url]) %>" button light>Twitter</a>
            <a href="https://facebook.com/sharer.php?u=<%= encode(meta[:url]) %>" button light>Facebook</a>
            <a href="http://news.ycombinator.com/submitlink?u=<%= encode(meta[:url]) %>&t=<%= encode(meta[:title]) %>" button light>Hackernews</a>
            </p>
          </div>
        </div>
        <a id="author"></a>
      </section>
      <section class="blogauthor">
        <div>
          <%= partial "blogauthor/#{meta[:author].downcase}" %>
        </div>
      </section>
      <section>
        <div class="centered">
          <p>
          Want to visit an awesome conference in May '19?
          </p>
          <a button href="tickets.html">Get your Ticket</a>
        </div>
      </section>
      <section>
        <%= partial 'updates' %>
      </section>
      </main>
    <% else %>
      <%= main %>
    <% end %>
    <%= partial 'footer' %>
  </body>
</html>

