<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <%= partial 'header' %>
  </head>
  <body>
    <%= partial 'navigation', language_switch: false %>
    <% if is_blog_post? %>
      <main>
      <section class="blogpost">
        <div>
          <h1><%= meta[:title] %></h1>
          <span>Published at December 2nd by Jakob</span>
          <img src="/assets/images/blog/launching-a-conference/header.png" />
          <%= main %>
          <div class="centered">
            <p>Share this article:</p>
            <p>
            <a href="#" button light>Twitter</a>
            <a href="#" button light>Facebook</a>
            <a href="#" button light>Hackernews</a>
            </p>
          </div>
        </div>
      </section>
      <section class="blogauthor">
        <div>
          <img src="/assets/images/speaker/eileen_wagner.png"><div>
            <h1>Jakob Holderbaum</h1>
            <p>Co-Founder of Think About!, DevOps Consultant, Standard Nerd</p>
            <p>
              <a href="https://twitter.com/hldrbm">Twitter</a> |
              <a href="https://github.com/holderbaum">Github</a> |
              <a href="https://holderbaum.io/">Website</a>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="centered">
          <p>
          Want to visit an awesome conference in May '19?
          </p>
          <a button href="tickets.html">Get your Ticket</a>
        </div>
      </section>
      </main>
    <% else %>
      <%= main %>
    <% end %>
    <%= partial 'footer' %>
  </body>
</html>

