<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#280050">

    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:height" content="521">
    <meta property="og:image:width" content="995">
    <meta property="og:title" content="Think About! Conference">
    <meta property="og:description" content="We believe that society needs diversity for a healthy and critical dialogue. For that reason we want to bring together diverse individuals and enable them to challenge themselves and each other.">
    <meta property="og:url" content="https://think-about.io/">

    <meta name="msapplication-TileColor" content="#280050">
    <meta name="theme-color" content="#280050">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <% switch_lang = lang == "en" ? "de" : "en" %>
    <nav desktop>
      <div>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a button href="tickets.html"><%= t('nav.tickets') %></a></li>
          <li><a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a></li>
        </ul>
      </div>
    </nav>
    <nav mobile <%= !url.empty? && url != 'index.html' ? 'dark' : ''%>>
      <div>
        <a href="/<%= switch_lang %>/<%= url %>"><%= switch_lang.upcase %></a>
        <% if !url.empty? && url != 'index.html' %>
          <a href="#footer"><img src="/assets/images/menu-dark.svg"/></a>
        <% else %>
          <a href="#footer"><img src="/assets/images/menu.svg"/></a>
        <% end %>
      </div>
    </nav>
    <%= main %>
    <footer>
      <nav>
        <a id="footer" href="#"><img src="/assets/images/close.svg"/></a>
        <a href="/<%= lang %>/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="consensus.html"><%= t('nav.consensus') %></a></li>
          <li><a href="about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="about.html"><%= t('nav.imprint') %></a></li>
          <li><a href="privacy.html"><%= t('nav.privacy') %></a></li>
        </ul>
        <a button href="tickets.html"><%= t('nav.tickets') %></a>
        <div>
          <a href="/goto/twitter"><img src="/assets/icons/twitter.svg"/></a>
          <a href="/goto/github"><img src="/assets/icons/github.svg"/></a>
          <a href="/goto/meetup"><img src="/assets/icons/meetup.svg"/></a>
          <a href="/goto/xing"><img src="/assets/icons/xing.svg"/></a>
        </div>
      </nav>
    </footer>
  </body>
</html>

