<% wrap_layout :layout do %>
  <main>
    <section class="blogpost">
      <div>
        <h1><%= current_article.title %></h1>
        <span>
          Published
          <%= blogdate current_article %>
          by
          <a href="#author"><%= current_article.data.author %></a>,
          Reading time ... Minutes
        </span>
        <img src="<%= blogimg current_article %>" />
        <%= yield %>
        <div class="centered">
          <p>Share this article:</p>
          <p>
            <a href="https://twitter.com/intent/tweet?text=<%= encode(current_article.data.tweet) %>&url=<%= encode(social_url current_article) %>" button light>Twitter</a>
            <a href="https://facebook.com/sharer.php?u=<%= encode(social_url current_article) %>" button light>Facebook</a>
            <a href="http://news.ycombinator.com/submitlink?u=<%= encode(social_url current_article) %>&t=<%= encode(current_article.title) %>" button light>Hackernews</a>
          </p>
        </div>
      </div>
      <a id="author"></a>
    </section>
    <section class="blogauthor">
      <div>
        <%= partial 'blog/' + current_article.data.author.downcase %>
      </div>
    </section>
    <section>
      <%= partial 'updates' %>
    </section>
  </main>
<% end %>

<% content_for :metatags do %>
  <meta property="og:image" content="<%= social_img current_article %>">
  <meta property="og:title" content="<%= current_article.title %>">
  <meta property="og:description" content="<%= strip_tags current_article.summary %>">
  <meta property="og:url" content="<%= social_url current_article %>">
  <meta property="og:type"   content="article" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@thinkaboutconf">
  <meta name="twitter:title" content="<%= current_article.title %>">
  <meta name="twitter:description" content="<%= strip_tags current_article.summary %>">
  <meta name="twitter:creator" content="<%= current_article.author_twitter %>">
  <meta name="twitter:image" content="<%= social_img current_article %>">
  <meta name="twitter:domain" content="<%= social_domain %>">
<% end %>
