<main>
  <section class="speaker-details">
    <div>
      <h1>Mapping the problem: Understanding the consequences of our design choices</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>When was the last time someone asked you ‘what are the unintended consequences of releasing this feature? Who else may be directly or indirectly affected by these product decisions?’ These questions are generally not considered or often hidden away in backlogs, as the briefs we are answering are asking us to innovate, disrupt and create the next big thing.</p>

<p>When everything is telling us to speed up, make decisions faster and release new iterations, we leave ourselves with less time to consider the potential negative affects our design choices may have. This product centric focus approach can be extremely detrimental. As designers and creators of new products and services, we need to be conscious of the decisions we make and be aware of the wider systems our products fit within.</p>

<p>In this talk, I will illustrate ways interdisciplinary teams can use design-led methods, such as systems modelling and speculative scenarios, to challenge the ethical, cultural and social implications of the technology we design. I will give examples from my own work of how I have been able to bring a systems lens to complex problems such as: access to education for undocumented people, forced migration due to climate change and alternative forms of humanitarian aid, and how to foster better outcomes for young people leaving government care.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/aly_blenkin_big.png" />
        </figure>
        <div>
          <h1>Aly Blenkin</h1>
          <p>Co-Lead & Senior Product Designer @ Pivotal Act<p>
          <p><%= content('speakies/aly_blenkin') %></p>
          <p><a href="https://pivotal.io/act">Pivotal Act</a> | <a href="http://alyblenkin.com/">Website</a> | <a href="https://twitter.com/alyblenkin">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
