<main>
  <section class="speaker-details">
    <div>
      <h1>Algorithmic Bias – Diskriminierung durch Algorithmen erkennen und vermeiden</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Misogynist chatbots, racist image classification, discriminating recruiting tools: Despite being based on mathematical logic, AI applications have shown a significant amount of bias. With the rise of AI we have the chance to make implicit bias visible and measurable. In this talk, I will present the most common issues and discuss some ways to overcome bias.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/anika_zeidler_big.png" />
        </figure>
        <div>
          <h1>Anika Zeidler</h1>
          <p>IT Consultant @ Capgemini<p>
          <p><%= content('speakies/anika_zeidler') %></p>
          <p><a href="https://www.capgemini.com/de-de/service/digital-services/insights-data/">Capgemini</a> | <a href="https://www.think-ing.de/neues-aus-wissenschaft-und-praxis/cybermentor-die-mint-plattform-fuer-maedchen">CyberMentor</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
