<main>
  <section class="speaker-details">
    <div>
      <h1>Maintain your ancient projects without getting lost</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p><a href="https://addons.mozilla.org/">Mozilla Addons</a> - one of the oldest websites @ Mozilla has gone through major changes throughout its lifetime. Starting in ~2005, the site as been more or less maintained. Only in recent years, it got much more traction because of Firefox Quantum and Mozilla’s move to WebExtensions.</p>

<p>The talk will show our approach to maintaining very old code, balancing new features against code quality as well as technical debt.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/christopher_grebs_big.png" />
        </figure>
        <div>
          <h1>Christopher Grebs</h1>
          <p>Senior Web Engineer @ Mozilla<p>
          <p><%= content('speakies/christopher_grebs') %></p>
          <p><a href="https://addons.mozilla.org">Mozilla</a> | <a href="http://twitter.com/entequak">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <% if feature? :preview %>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <% end %>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
