<main>
  <section class="speaker-details">
    <div>
      <h1>Designing for Security</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Good security requires basic usability. This universal truth can be demonstrated with a handful of examples, ranging from the UX of key handling, mental models of password managers, and visual styling against phishing. Going deeper, we will ask: why are these tools suffering from a lack of usability, and what can we do about it? Expect a love-hate letter to open source, and a basic introduction to human-centered design methods to incorporate in your development process.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/eileen_wagner_big.png" />
        </figure>
        <div>
          <h1>Eileen Wagner</h1>
          <p>UX Designer @ Simply Secure<p>
          <p><%= content('speakies/eileen_wagner') %></p>
          <p><a href="https://bumble.blue/">Simply Secure</a> | <a href="https://bumble.blue/">Website</a> | <a href="https://twitter.com/bumblblu">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
