<main>
  <section class="speaker-details">
    <div>
      <h1>Privacy in Software: How to design and implement privacy by default</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/emma_arfelt_big.png" />
        </figure>
        <div>
          <h1>Emma Arfelt</h1>
          <p>MSc Student @ IT University of Copenhagen<p>
          <p><%= content('speakies/emma_arfelt') %></p>
          <p><a href="https://en.itu.dk/">IT University of Copenhagen</a> | <a href="https://twitter.com/emmaarfelt">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
