<main>
  <section class="speaker-details">
    <div>
      <h1>Privacy in Software: How to design and implement privacy by default</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>The world that my generation has been born in is digitalised. We have been called “Digital Natives”, yet as my generation is adopting new technologies, there is no understanding of online privacy. Young people will have to navigate in a digital reality that is much different than just 5-10 years ago, which demands a great understanding of concepts like privacy and security on the Internet. Especially in recent years, we’ve seen numerous loose, and at times wild, treatment of our data, so it is vital that we as software developers develop better software. Not only more secure but also privacy-prevailing software. As legislators also realise this challenge, it is vital for us to find solutions to these hard problems.</p>

<p>In this talk, I introduce ways of thinking about privacy in software and share key learnings from teaching a generation of digital “naives”.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/emma_arfelt_big.png" />
        </figure>
        <div>
          <h1>Emma Arfelt</h1>
          <p>MSc Student @ IT University of Copenhagen<p>
          <p><%= content('speakies/emma_arfelt') %></p>
          <p><a href="https://en.itu.dk/">IT University of Copenhagen</a> | <a href="https://twitter.com/emmaarfelt">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
