<main>
  <section class="speaker-details">
    <div>
      <h1>Diverse representations in design and awkward conversations with colleagues</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>When working in design and user experience, people that need accessible and inclusive products of experiences often get referred to as ‘edge cases’ and subsequently pushed out of scope. It’s never easy to convince bosses or colleagues that aren’t themselves ‘edge cases ‘themselves to take the time and spend the resource caring for those that need more diverse design and representation in our visuals.</p>

<p>Covering real-life past examples of frustrations from projects that didn’t go so well, ones that did go well and how I work as much diversity and inclusivity into my work as I can possibly get away with now with the hope to not only make it the standard approach from the companies and people that I work with, but also for the customers and end-users that are not marginalised, to consider that products, services and marketing should be representative for and of everyone, not just them.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/eriol_fox_big.png" />
        </figure>
        <div>
          <h1>Eriol Fox</h1>
          <p>Designer @ Ushahidi<p>
          <p><%= content('speakies/eriol_fox') %></p>
          <p><a href="https://www.ushahidi.com/">Ushahidi</a> | <a href="http://erioldoesdesign.com/">Website</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
