<main>
  <section class="speaker-details">
    <div>
      <h1>How to read code?</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>In education, there is and has always been debate about how to teach. One of these debates centers around the role of the teacher: should their role be minimal, allowing students to find and classify knowledge independently, or should the teacher be in charge of what happens in the classroom, explaining students all they need to know? These forms of teaching have many names, but the most common ones are exploratory learning and direct instruction. While the debate is not settled, more and more evidence is presented by researchers that explaining is more effective than exploring in teaching language and mathematics and science.</p>

<p>So… might this true for programming education too? This talk outlines this history of programming education and additional beliefs in programming that lead to the prevalence of exploratory forms of teaching.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/felienne_hermans_big.png" />
        </figure>
        <div>
          <h1>Felienne Hermans</h1>
          <p> Associate Professor @ Leiden Institute of Adv. Computer Science<p>
          <p><%= content('speakies/felienne_hermans') %></p>
          <p><a href="https://liacs.leidenuniv.nl/">Leiden Institute of Adv. Computer Science</a> | <a href="http://www.felienne.com/">Website</a> | <a href="https://twitter.com/felienne">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
