<main>
  <section class="speaker-details">
    <div>
      <h1>The Power of Web Components</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Die Idee der Web Components ist nicht neu. Jedes Mal, wenn wir ein HTML button oder input Element schreiben, verwenden wir das zu grundliegende Konzept.
Heutzutage ist es möglich, dass jeder gekapselte Komponenten erstellt und mit anderen teilt. Durch die Wiederverwendung dieser können die Entwicklungs- und Wartungskosten gesenkt werden. Auch die heute gängigsten Frameworks wie Angular und React basieren auf Komponenten. Web Components haben einen großen Einfluss auf die moderne Webentwicklung und haben die Art und Weise, wie wir Anwendungen designen und strukturieren, verändert.</p>

<p>Nach den Grundlagen werde ich auf verschiedene Möglichkeiten Web Components zu schreiben eingehen und über Herausforderungen und architektonische Aspekte sprechen.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/katharina_baehr_big.png" />
        </figure>
        <div>
          <h1>Katharina Bähr</h1>
          <p>Web-Loving Software Engineer @ Zühlke Engineering<p>
          <p><%= content('speakies/katharina_baehr') %></p>
          <p><a href="https://www.zuehlke.com/de/de/">Zühlke Engineering</a> | <a href="https://twitter.com/kabaehr">Twitter</a> | <a href="http://kabaehr.de/">Website/Blog</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
