<main>
  <section class="speaker-details">
    <div>
      <h1>Small Tech</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Big tech companies track us and gather information on all aspects of our lives. This gives them intimate insight which they exploit for financial gain. This socioeconomic system is known as surveillance capitalism and has dire ramifications for human rights and democracy.</p>

<p>In this talk, we will outline how surveillance capitalism impacts our rights and freedoms both as individuals and as a society. But we won’t stop there. Surveillance capitalism is neither inevitable nor unavoidable. We will cover both current and upcoming efforts to build a bridge to a fairer future using ethical technologies. Our suggestion is simple:</p>

<p>Think small.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/laura_kalbag_big.png" /><img src="/assets/images/speaker/aral_balkan_big.png" />
        </figure>
        <div>
          <h1>Laura Kalbag &amp; Aral Balkan</h1>
          <p>Founder @ Ind.ie<p>
          <p><%= content('speakies/laura_kalbag_and_aral_balkan') %></p>
          <p><a href="https://ind.ie/">Ind.ie</a> | <a href="https://twitter.com/indie">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
