<main>
  <section class="speaker-details">
    <div>
      <h1>Peerocracy</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/laura_kalbag_big.png" /><img src="/assets/images/speaker/aral_balkan_big.png" />
        </figure>
        <div>
          <h1>Laura Kalbag &amp; Aral Balkan</h1>
          <p>Founder @ Ind.ie<p>
          <p><%= content('speakies/laura_kalbag_and_aral_balkan') %></p>
          <p><a href="https://ind.ie/">Ind.ie</a> | <a href="https://twitter.com/laurakalbag">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
