<main>
  <section class="speaker-details">
    <div>
      <h1>Hack Society - Wie wir mit Code gesellschaftliche Probleme lösen können</h1>
      <ul>
        <li><em>Society</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Digitale Technologien beeinflussen unseren Alltag und unser gesellschaftliches Umfeld. Fitness-Apps motivieren uns, mehr zu Fuß zu gehen, Algorithmen steuern unsere Informationen und verkuppeln uns. Software und Roboter ersetzen menschliche Arbeitskraft, Social Media-Kommunikation hilft, Revolutionen zu organisieren und Wahlen zu gewinnen.</p>

<p>Digitale Technologien sind Enabler. Im Guten wie im Schlechten. Wie können wir diese Kraft nutzen, um Veränderungen, die wir in der Gesellschaft sehen wollen, aktiv zu gestalten?</p>

<p>Hinter jeder Technologie stecken Menschen - Ingenieur*innen, Programmierer*innen, Designer*innen und viele mehr. Sie bestimmen, welche Technologien entwickelt werden und wie sie funktionieren. Diese Menschen sind wir!</p>

<p>Dieser Talk zeigt Beispiele aus den Bereichen Open Data, Civic Tech, dem Maker Movement, faire Algorithmen und der Open Source-Kultur, wo Code Gesellschaft zum positiven verändert und inspiriert zum Mitmachen - auch die Nicht-Programmierer*innen.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/maren_heltsche_big.png" />
        </figure>
        <div>
          <h1>Maren Heltsche</h1>
          <p>Co-Founder @ Speakerinnen.org<p>
          <p><%= content('speakies/maren_heltsche') %></p>
          <p><a href="https://speakerinnen.org">Speakerinnen.org</a> | <a href="https://twitter.com/zaziemo">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
