<main>
  <section class="speaker-details">
    <div>
      <h1>Hack Society - Wie wir mit Code gesellschaftliche Probleme lösen können</h1>
      <ul>
        <li><em>Society</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/maren_heltsche_big.png" />
        </figure>
        <div>
          <h1>Maren Heltsche</h1>
          <p>Co-Founder @ Speakerinnen.org<p>
          <p><%= content('speakies/maren_heltsche') %></p>
          <p><a href="https://speakerinnen.org">Speakerinnen.org</a> | <a href="https://twitter.com/zaziemo">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
