<main>
  <section class="speaker-details">
    <div>
      <h1>think.about: Wie beeinflusst das Smartphone unsere Psyche und wie können wir lernen besser damit umzugehen?</h1>
      <ul>
        <li><em>Society</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Technik ist ein wichtiger Bestandteil unseres Lebens geworden. Schließlich ist das Smartphone unser ständiger Begleiter geworden.  Aber was macht das mit uns als Mensch und mit unseren zwischenmenschlichen Beziehungen? Wie verändert sich dadurch unsere Gesellschaft?  Die aktuelle Wissenschaft zeigt, dass es an der Zeit ist, sich mit diesen Veränderungen auseinanderzusetzen.  Zum einen, um ein Bewusstsein zu schaffen und weiter noch, um Strategien zu entwickeln, wie wir die Technik zu unserem Besten einsetzen können und unsere Lebensqualität steigern und unsere Beziehungen stärken können.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/muriel_boettger_big.png" />
        </figure>
        <div>
          <h1>Muriel Böttger</h1>
          <p>Founder @ Share & Grow<p>
          <p><%= content('speakies/muriel_boettger') %></p>
          <p><a href="https://murielboettger.com/">Share & Grow</a> | <a href="https://www.instagram.com/murielboettger/">Instagram</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
