<main>
  <section class="speaker-details">
    <div>
      <h1>DevOps: Why the Startup CEO Should Care (and you should too)</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>You run a startup. You’ve just raised your first serious money, and need to start spending it wisely to hit your goals you promised to your investor.</p>

<p>You’re hiring developers like crazy, but going slower than ever! What’s gone wrong?</p>

<p>Your Lead Developer keeps saying “we need to build a CD/CI pipeline, so I’m going to take one developer away to focus on that, it’ll make life better in the long run”.</p>

<p>And you go “No! We need all hands on getting the next Shiny New Feature out, we have no time for whatever you just said..”</p>

<p>Sound familiar? We, as a profession, need to get better at explaining what we do in terms that a non-technical startup CEO can understand.</p>

<p>Why doesn’t the manager understand the developer? and vice versa.</p>

<p>I’m going to talk about what DevOps is, and how adopting a DevOps mindset can help you deliver better software faster with a happier team.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/rachel_willmer_big.png" />
        </figure>
        <div>
          <h1>Rachel Willmer</h1>
          <p>Independent Consultant<p>
          <p><%= content('speakies/rachel_willmer') %></p>
          <p><a href="https://hobthross.com/">Website</a> | <a href="https://twitter.com/rwillmer">Twitter</a> | <a href="https://github.com/rwillmer">GitHub</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
