<main>
  <section class="speaker-details">
    <div>
      <h1>Look Mom No Hands! Moving from a managed relational database to a serverless one</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>From AWS to Google Cloud, the major cloud providers offer different options to run a MySQL or a MySQL compatible database on the cloud. You can spin up virtual machines and configure your own cluster or rely on managed services with the ability to modify or scale vertically a database with the click of a button. The new trend is serverless (relational) database that offer both traditional interfaces and HTTP API access. Can serverless databases be the future? Is for example Amazon Aurora Serverless really serverless?</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/renato_losio_big.png" />
        </figure>
        <div>
          <h1>Renato Losio</h1>
          <p>Website<p>
          <p><%= content('speakies/renato_losio') %></p>
          <p><a href="https://cloudiamo.com">Website</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
