<main>
  <section class="speaker-details">
    <div>
      <h1>CI/CD: More than Just Code</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Devops started as a movement designed to bridge the gaps between development and operations practices. Since then, we’ve seen trends like having devs be on call for code that they write and having operability reviews before new features ship to production - both positive ways that operational thinking has impacted development work. There is plenty that can be learned from the dev side of things as well. This talk will look at ways that development best practices can be applied to work that has traditionally fallen in the realm of operations, using server provisioning as an example. We’ll also look at the underlying principles behind CI/CD and how those can become a key part of an ongoing culture of organizational learning.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/ryn_daniels_big.png" />
        </figure>
        <div>
          <h1>Ryn Daniels</h1>
          <p>Website<p>
          <p><%= content('speakies/ryn_daniels') %></p>
          <p><a href="https://ryn.works/">Website</a> | <a href="https://twitter.com/rynchantress">Twitter</a> | <a href="https://www.hashicorp.com/">HashiCorp</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
