<main>
  <section class="speaker-details">
    <div>
      <h1>Preparing For a Future Microservices Journey</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>In the light of rapidly changing market requirements organizations must
accelerate to excel in the market. A 4-years research (by Nicole Forsgren, Jez Humble and Gene Kim) has revealed that software delivery performance has a strong impact on profitability, productivity and market share of technology organizations. Loosely coupled architecture, such as promoted by microservices, and empowered teams are some of the capabilities to improve software delivery performance.</p>

<p>But when introducing microservices you are confronted with a variety of infrastructure and operational complexities. Tackling these complexities not only requires different tools and skills, but also diverts your focus
from delivering business value and - especially in the beginning of your journey - might slow down your software delivery performance.</p>

<p>After having already introduced microservices in a startup context I would like to share some thoughts what to do differently when introducing microservices next time in the future.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/susanne_kaiser_big.png" />
        </figure>
        <div>
          <h1>Susanne Kaiser</h1>
          <p>Independent Consultant<p>
          <p><%= content('speakies/susanne_kaiser') %></p>
          <p><a href="https://kaiser-consulting.net/">Website</a> | <a href="https://twitter.com/suksr">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
