<main>
  <section class="speaker-details">
    <div>
      <h1>CDCs für otto.de - Continuous Everything (jetzt mit Cloud™)</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Seit OTTO vor gut sieben Jahren eine monolithische E-Commerce-Software von der Stange durch ein agil entwickeltes System aus eigenem Hause ersetzt hat, gehören CDC-Tests zu den Werkzeugen, durch die wir auf über 20 unabhängige Teams mit 300 Live-Deployments täglich zu skalieren. Heutzutage sind wir mit Microservices, agilen/cross-funktionalen Teams, Continuous Everything, DevOps und Cloud-Nativeness weitgehend buzzword-kompatibel.</p>

<p>In dieser Session wirst du hören, wie die Sicht auf und die Implementierung von CDC-Tests bei uns sich im Laufe der Jahre geändert hat, warum wir Pact nicht einsetzen, welchen Problemen wir begegnet sind und welche Antworten wir darauf gefunden haben.</p>

<p>Wir werden uns damit beschäftigen, inwiefern die Migration aus einem dedizierten Rechenzentrum in die Cloud unsere Annahmen über Schnittstellentests verändert hat und auf welche Probleme wir noch immer keine gute Antwort gefunden haben. Und am Ende werden wir uns mit den Fragen beschäftigen, die du mitbringst :)</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/tom_vollerthun_big.png" />
        </figure>
        <div>
          <h1>Tom Vollerthun</h1>
          <p>Hacker @ OTTO<p>
          <p><%= content('speakies/tom_vollerthun') %></p>
          <p><a href="https://www.otto.de">OTTO</a> | <a href="https://github.com/TomVollerthun1337">GitHub</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
