<main>
  <section class="speaker-details">
    <div>
      <h1>Design, Diversity and Tech - How to use your power</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Diversity is a word that is thrown around at the moment. It has been turned into a buzz word without any real meaning. I’ll be talking about the link between diversity and privilege and how we can design inclusive environments to empower everyone and to challenge the status quo.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/vimla_appadoo_big.png" />
        </figure>
        <div>
          <h1>Vimla Appadoo</h1>
          <p>Service Designer @ FutureGov<p>
          <p><%= content('speakies/vimla_appadoo') %></p>
          <p><a href="https://www.wearefuturegov.com">FutureGov</a> | <a href="https://www.thatgirlvim.com">Website</a> | <a href="https://twitter.com/ThatGirlVim">Twitter</a> | <a href="https://www.linkedin.com/in/vimlaappadoo">Linkedin</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
