<main>
  <section class="speaker-details">
    <div>
      <h1>Zukunftsbilder und menschzentriertes Design</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>Immer wenn wir über die Zukunft sprechen, sprechen wir über Annahmen. Spekulatives Design kann helfen diese Annahmen in echte Bedürfnisse zu übersetzen: Unfassbares wird greifbar gemacht und ruft, durch ein situatives Eintauchen, sowohl emotionale als auch rationale Reaktionen hervor.  Vor allem für Innovationsprozesse ergibt sich eine besondere Relevanz, da utopische und eventuell risikobehaftete Ideen diskutiert werden können. Durch experimentelle Zukunfts-Artefakte werden Debatten über mögliche Zukünfte provoziert, die unsere Entscheidungen in der Gegenwart beeinflussen. Der Austausch mit Menschen garantiert, inklusive Zukünfte zu schaffen.</p>

<p>Wir starten bewusst in einer fernen Zukunft, um uns anschließend – Schritt für Schritt – zurück ins Heute zu bewegen. Somit kreieren wir einen ko-kreativen Prozess, der dabei hilft wünschbare Zukünfte zu gestalten. Anhand des Themenfeldes »Autonome Mobilität« haben wir beispielhaft diesen Prozess durchlaufen und entwickelten dabei Zukunfts-Artefakte, die Aspekte des Themas jenseits der Status-Quo-Debatten beleuchten und zur Diskussion stellen.  Die entscheidende Frage lautet: »Was wäre wenn?«</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/wilhelm_rinke_big.png" />
        </figure>
        <div>
          <h1>Wilhelm Rinke</h1>
          <p>Head of Design Thinking @ Berliner Ideenlabor<p>
          <p><%= content('speakies/wilhelm_rinke') %></p>
          <p><a href="https://www.berliner-ideenlabor.de/">Berliner Ideenlabor</a> | <a href="https://wilhelmrinke.com/">Website</a></p>
        </div>
      </article>
    </div>
  </section>
  <section>
    <%= partial 'tickets_footer' %>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
