<main>
  <section class="blog">
    <div>
      <h1>Think About! Blog</h1>
      <% blog_posts.each do |post| %><a href="/blog/<%= post.meta[:slug] %>.html"><section>
          <div><img alt="" src="/assets/images/blog/<%= post.meta[:slug] %>/header.svg" /></div>
          <div>
            <span><%= post.meta[:author] %> / <%= post.meta[:date] %></span>
            <h1><%= post.meta[:title] %></h1>
            <p><%= post.meta[:abstract] %></p>
            <span>Read more</span>
          </div>
        </section></a><% end %>
    </div>
  </section>
</main>
