<main>
  <section class="blog">
    <div>
      <h1>Think About! Blog</h1>
      <% blog_posts.each do |post| %><a href="<%= post.meta[:link] %>"><section>
          <div><img src="<%= post.meta[:img] %>" /></div>
          <div>
            <span><%= post.meta[:author] %> / <%= post.meta[:date] %></span>
            <h1><%= post.meta[:title] %></h1>
            <p><%= post.meta[:abstract] %></p>
            <span>Read more</span>
          </div>
        </section></a><% end %>
    </div>
  </section>
</main>
