<%= partial 'keyvisual' %>
<main>
  <section>
    <div class="centered">
      <figure>
        <img width="130px" src="/assets/images/logo.svg" alt="Think About! Logo">
      </figure>
      <%= content 'our_conference' %>
      <a href="#newsletter" button><%= t('newsletter.anchor-link-title') %></a>
    </div>
  </section>
  <section class="topics">
    <div>
      <section topic="tech">
        <figure>
          <img src="/assets/images/tech.svg">
        </figure>
        <article>
          <%= content 'topic_tech' %>
        </article>
      </section>
      <section topic="design">
        <figure>
          <img src="/assets/images/design.svg">
        </figure>
        <article>
          <%= content 'topic_design' %>
        </article>
      </section>
      <section topic="society">
        <figure>
          <img src="/assets/images/society.svg">
        </figure>
        <article>
          <%= content 'topic_society' %>
        </article>
      </section>
    </div>
  </section>
  <section class="speakers">
    <%= partial 'speakers' %>
  </section>
  <section class="image-with-text">
    <div>
      <article>
        <%= content 'location' %>
      </article>
      <figure>
        <img src="/assets/images/cinenova.png" alt="The Cinenova Building at night, fully illuminated.">
      </figure>
    </div>
  </section>
  <section class="partners">
    <%= partial 'partners' %>
  </section>
  <section>
    <div class="centered">
    <%= content 'updates' %>
    <form method="get" action="/goto/newsletter">
      <input type="email" name="email" placeholder="<%= t('newsletter.placeholder') %>"/>
      <input type="submit" value="Subscribe"/>
    </form>
    <figure>
      <img src="/assets/images/buddies.svg" alt="Think About! Monsters">
    </figure>
    <span note><%= t('newsletter.software') %> <a href="https://mailtrain.org/">Mailtrain</a></span>
    </div>
  </section>
</main>
