<%= partial 'keyvisual' %>
<main>
  <section>
    <div class="centered">
      <figure>
        <img width="130px" src="/assets/images/logo.svg" alt="Think About! Logo">
      </figure>
      <%= content 'our_conference' %>
      <a href="#newsletter" button><%= t('newsletter.anchor-link-title') %></a>
    </div>
  </section>
  <section class="schedule">
    <%= partial 'schedule' %>
  </section>
    <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section class="image-with-text">
    <div>
  <section class="topics">
    <div>
      <section topic="tech">
        <figure>
          <img src="/assets/images/tech.svg">
        </figure>
        <article>
          <%= content 'topic_tech' %>
        </article>
      </section>
      <section topic="design">
        <figure>
          <img src="/assets/images/design.svg">
        </figure>
        <article>
          <%= content 'topic_design' %>
        </article>
      </section>
      <section topic="society">
        <figure>
          <img src="/assets/images/society.svg">
        </figure>
        <article>
          <%= content 'topic_society' %>
        </article>
      </section>
    </div>
  </section>
      <article>
        <%= content 'location' %>
      </article>
      <figure>
        <img src="/assets/images/cinenova.jpg" alt="The Cinenova Building at night, fully illuminated.">
      </figure>
    </div>
    </section>
    <section class="rocket-sponsors">
    <%= partial 'rocket_sponsors' %>
  </section>
  </section>
  <section class="partners">
    <%= partial 'partners' %>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
