<%= partial 'keyvisual' %>
<main>
  <section>
    <div class="centered">
      <figure>
        <img width="130px" src="/assets/images/logo.png" alt="Think About! Logo">
      </figure>
      <%= content 'our_conference' %>
      <a href="/<%= lang %>/consensus.html" button>Read more</a>
    </div>
  </section>
  <section class="topics">
    <div>
      <section topic="tech">
        <figure>
          <img src="/assets/images/tech.svg">
        </figure>
        <article>
          <%= content 'topic_tech' %>
        </article>
      </section>
      <section topic="design">
        <figure>
          <img src="/assets/images/design.svg">
        </figure>
        <article>
          <%= content 'topic_design' %>
        </article>
      </section>
      <section topic="society">
        <figure>
          <img src="/assets/images/society.svg">
        </figure>
        <article>
          <%= content 'topic_society' %>
        </article>
      </section>
    </div>
  </section>
  <section class="speakers">
    <div>
      <h1>Our Speakers</h1>
      <section>
        <figure>
          <img src="/assets/images/speaker/christoph_hassler.png" />
        </figure>
        <article>
          <h1>Christoph Hassler</h1>
          <h4>Society Talk</h4>
          <q>Automatization and the impact on the working class.</q>
        </article>
      </section>
      <section>
        <figure>
          <img src="/assets/images/speaker/maren_heltsche.png" />
        </figure>
        <article>
          <h1>Maren Heltsche</h1>
          <h4>Society Talk</h4>
          <q>Du solltest Softwareentwicklerin werden!</q>
        </article>
      </section>
      <section>
        <figure>
          <img src="/assets/images/speaker/muriel_boettger.png">
        </figure>
        <article>
          <h1>Muriel Böttger</h1>
          <h4>Society Talk</h4>
          <q>think.about: Wie beeinflusst das Smartphone unsere Psyche und wie können wir lernen besser damit umzugehen?</q>
        </article>
      </section>
      <section>
        <figure>
          <img src="/assets/images/speaker/sebastian_golasch.png">
        </figure>
        <article>
          <h1>Sebastian Golasch</h1>
          <h4>Tech Talk</h4>
          <q>EME? CDM? DRM? CENC? IDK!</q>
        </article>
      </section>
      <section>
        <figure>
          <img src="/assets/images/speaker/wilhelm_rinke.png">
        </figure>
        <article>
          <h1>Wilhelm Rinke</h1>
          <p>CEO @ Berliner Ideenlabor</p>
          <h4>Design Talk</h4>
          <q>Zukunftsbilder und menschzentriertes Design</q>
        </article>
      </section>
    </div>
  </section>
  <section class="image-with-text">
    <div>
      <article>
        <%= content 'location' %>
      </article>
      <figure>
        <img src="/assets/images/cinenova.png" alt="The Cinenova Building at night, fully illuminated.">
      </figure>
    </div>
  </section>
  <section>
    <div class="centered">
    <%= content 'perspectives' %>
    <figure>
      <img src="/assets/images/buddies.svg" alt="Think About! Monsters">
    </figure>
    </div>
  </section>
</main>
