<%= partial 'keyvisual' %>
<main>
  <section>
    <div class="centered">
      <figure>
        <img width="130px" src="/assets/images/logo.png" alt="Think About! Logo">
      </figure>
      <%= content 'our_conference' %>
    </div>
  </section>
  <section class="topics">
    <div>
      <section topic="tech">
        <figure>
          <img src="/assets/images/tech.svg">
        </figure>
        <article>
          <%= content 'topic_tech' %>
        </article>
      </section>
      <section topic="design">
        <figure>
          <img src="/assets/images/design.svg">
        </figure>
        <article>
          <%= content 'topic_design' %>
        </article>
      </section>
      <section topic="society">
        <figure>
          <img src="/assets/images/society.svg">
        </figure>
        <article>
          <%= content 'topic_society' %>
        </article>
      </section>
    </div>
  </section>
  <section class="speakers">
    <div>
      <h1><%= t('speakers.title') %></h1>
      <p><%= t('speakers.tba') %></p>
    </div>
  </section>
  <section class="location">
    <div>
      <article>
        <%= content 'location' %>
      </article>
      <figure>
        <img src="/assets/images/cinenova.png" alt="The Cinenova Building at night, fully illuminated.">
      </figure>
    </div>
  </section>
  <section>
    <div class="centered">
    <%= content 'perspectives' %>
    <figure>
      <img src="/assets/images/buddies.svg" alt="Think About! Monsters">
    </figure>
    </div>
  </section>
</main>
