<%= partial 'keyvisual_small' %>
<main>
  <section>
    <div class="centered">
      <article>
        <%= content 'tickets_intro' %>
      </article>
    </div>
  </section>
  <section class="image-with-text">
    <div>
      <article>
        <%= content 'tickets_benefits' %>
      </article>
      <figure>
        <img src="/assets/images/consensus.svg" alt="Monster Friends">
      </figure>
    </div>
  </section>
  <section class="tickets">
    <div>
      <section ticket="early" <%= data('tickets.earlybird.available') ? '' : 'disabled' %>>
        <h1><%= t('tickets.types.earlybird.title') %></h1>
        <article>
          <header>
            <del><%= data('tickets.regular.price') %> €</del>
            <price><%= data('tickets.earlybird.price') %> €</price>
            <% if data('tickets.earlybird.available') %>
            <p><%= t('tickets.leftover', amount: data('tickets.earlybird.available_number')) %></p>
            <% else %>
            <p><%= t('tickets.sold_out') %></p>
            <% end %>
          </header>
          <ul>
            <li><%= t('tickets.benefits.duration') %></li>
            <li><%= t('tickets.benefits.food') %></li>
            <li><%= t('tickets.benefits.beverages') %></li>
          </ul>
        </article>
      </section>
      <section ticket="regular" <%= data('tickets.regular.available') ? '' : 'disabled' %>>
        <h1><%= t('tickets.types.regular.title') %></h1>
        <article>
          <header>
            <price><%= data('tickets.regular.price') %> €</price>
          </header>
          <ul>
            <li><%= t('tickets.benefits.duration') %></li>
            <li><%= t('tickets.benefits.food') %></li>
            <li><%= t('tickets.benefits.beverages') %></li>
          </ul>
        </article>
      </section>
      <section ticket="supporter" <%= data('tickets.supporter.available') ? '' : 'disabled' %>>
        <h1><%= t('tickets.types.supporter.title') %></h1>
        <article>
          <header>
            <price><%= data('tickets.supporter.price') %> €</price>
            <p><%= t('tickets.solidarity_price_details') %></p>
          </header>
          <ul>
            <li><%= t('tickets.benefits.duration') %></li>
            <li><%= t('tickets.benefits.food') %></li>
            <li><%= t('tickets.benefits.beverages') %></li>
            <li><%= t('tickets.benefits.karma') %></li>
          </ul>
        </article>
      </section>
    </div>
  </section>
  <section>
    <div class="centered">
      <article>
        <%= content 'tickets_notes' %>
      </article>
    </div>
  </section>
</main>

