---
pageable: false
---
<main>
  <section class="blog">
    <div class="container">
      <h1>Think About! Blog</h1>
      <% blog.articles.reject { |article| article.data[:draft] }.each do |article| %>
      <a href="<%= article.url %>">
        <section>
          <div><img src="<%= blogimg article %>" /></div>
          <div>
            <span>
              <%= article.data.author %>
              /
              <%= blogdate article %>
            </span>
            <h1><%= article.title %></h1>
            <p><%= strip_tags article.summary %></p>
            <span>Read more</span>
          </div>
        </section>
      </a>
      <% end %>
    </div>
  </section>
</main>
