<footer class="Footer">
  <div class="container">
    <a class="Footer-close-button" id="footer" href="#"><img src="/images/icons/close.svg"/></a>
    <a class="Footer-image" logo href="/"><img src="/images/logo.svg" alt="Think About! Logo"/></a>
    <ul class="Footer-links">
      <li><%= nav_link 'Speakers', '/speakers.html' %></li>
      <li><%= nav_link 'Venue', '/venue.html' %></li>
      <li><%= nav_link 'Consensus', '/consensus.html' %></li>
      <li><%= nav_link 'Blog', '/blog/' %></li>
      <li><%= nav_link 'Events', '/events/' %></li>
      <% unless selling_tickets? %>
      <li><%= nav_link 'Tickets', '/tickets.html' %></li>
      <% end %>
    </ul>
    <% if selling_tickets? %>
    <a button href="/tickets.html">Get Ticket</a>
    <% end %>
    <ul class="Footer-links-secondary">
      <li><%= nav_link 'About', '/about-us.html' %></li>
      <li><%= nav_link 'Legal Notice', '/legal.html' %></li>
      <li><%= nav_link 'Privacy', '/privacy.html' %></li>
      <li><a href="https://cdn.think-about.io/Think_About_Press_Kit.zip">Download Press Kit</a></li>
    </ul>
    <ul class="Footer-links-external">
      <li><a href="/goto/twitter"><img src="/images/icons/twitter.svg"/></a></li>
      <li><a href="/goto/github"><img src="/images/icons/github.svg"/></a></li>
      <li><a href="/goto/meetup"><img src="/images/icons/meetup.svg"/></a></li>
      <li><a href="/goto/xing"><img src="/images/icons/xing.svg"/></a></li>
      <li><a href=mailto:kontakt@think-about.io"><img src="/images/icons/email.svg"/></a></li>
    </ul>
  </div>
</footer>

