<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <h1>Think About! 2020 Talks</h1>
      <p>
        The Think About! is a 2 day conference presenting 24 Talks and 2 Workshops.
        Below is a list of all confirmed speakers so far.
      </p>
      <p>
        <b>Think About! 2020 canceled.<br>See you in 2021.<br><a button href="/blog/corona.html">Read More</a></b>
      </p>
    </div>
  </section>
  <section class="speakers">
    <div class="container">
    <div class="keynotes">
      <h1 id="keynotes">Keynotes</h1>
      <% events('2020').keynotes.each do |keynote| %>
      <a href="<%= keynote.path %>">
        <section topic="<%= keynote.track.slug %>">
          <h4><% keynote.track.readable %></h4>
          <article>
            <% if keynote.title? %>
            <p>"<%= keynote.title %>"<em> (<%= keynote.language %>)</em></p>
            <% else %>
            <p><%= keynote.title %><em> (<%= keynote.language %>)</em></p>
            <% end %>
            <hr/>
            <header>
              <div>
                <h1><%= keynote.joined_speaker_names %></h1>
                <p><%= keynote.joined_company_names %></p>
              </div>
              <% keynote.speakers.each do |speaker| %>
              <figure>
                <img src="<%= speaker.image_path %>" />
              </figure>
              <% end %>
            </header>
          </article>
        </section>
      </a>
      <% end %>
      <span note>And one more...</span>
    </div>
    <div class="talks">
      <h1 id="talks">Talks</h1>
      <% events('2020').talks.each do |talk| %>
      <section topic="<%= talk.track.slug %>">
        <a href="<%= talk.path %>"><article>
          <h4><%= talk.track.readable + ' Talk' %></h4>
          <% if talk.title? %>
          <p>"<%= talk.title %>"<em> (<%= talk.language %>)</em></p>
          <% else %>
          <p><%= talk.title %><em> (<%= talk.language %>)</em></p>
          <% end %>
          <hr/>
          <header>
            <div>
              <h1><%= talk.joined_speaker_names %></h1>
              <p><%= talk.joined_company_names %></p>
            </div>
            <% talk.speakers.each do |speaker| %>
            <figure>
              <img src="<%= speaker.image_path %>" />
            </figure>
            <% end %>
          </header>
        </article></a>
      </section>
      <% end %>
      <span note>And many more...</span>
    </div>
    <!--
    <div class="talks">
      <h1 id="workshops">Workshops</h1>
      <% events('2020').workshops.each do |workshop| %>
      <section topic="<%= workshop.track.slug %>" class="workshop">
        <a href="<%= workshop.path %>"><article>
          <h4><%= workshop.track.readable %> Workshop</h4>
          <p>"<%= workshop.title %>"<em> (<%= workshop.language %>)</em></p>
          <p>Hosted at <%= workshop.host.name %></p>
          <hr/>
          <header>
            <div>
              <h1><%= workshop.joined_speaker_names %></h1>
              <p><%= workshop.joined_company_names %></p>
            </div>
            <% workshop.speakers.each do |speaker| %>
            <figure>
              <img src="<%= speaker.image_path %>" />
            </figure>
            <% end %>
          </header>
        </article></a>
      </section>
      <% end %>
    </div>
    -->
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

