<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <h1>Our 2020 Sponsors</h1>
      <p>
        Making an event like the Think About! happen would not be possible
        without the support of many different sponsors and partners.
      </p>
      <p>
        Interested in becoming a sponsor?<br/>
        <a button href="mailto:kontakt@think-about.io">Get in touch</a>
      </p>
    </div>
  </section>
  <section class="Textbox SponsorPage">
    <div class="container">
      <%= partial 'sponsors/gold' %>
      <%= partial 'sponsors/silver' %>
      <%= partial 'sponsors/others' %>
      <%= partial 'sponsors/speaker' %>
      <%= partial 'sponsors/media' %>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>
